.detail_blog {
    border-radius: 10px;
}

.blog_comment {
    background-color: lightpink;
    border-radius: 7px;
}
.home{
    background-color: rgb(157, 226, 236);
    margin-top: 150px;
    border-radius: 20px;
    padding: 20px;
}
